.calc{
    width: 400px;
    height: 600px;
    background: gray;
    margin-left: 150px;
    border: 18px solid;
    border-radius: 37px;

}
#screen{
    width: 95%;
    height: 48px;
    margin-left: 7px;
    margin-top: 12px;
    pointer-events: none;
    font-size: 30px;
    border: none;
    border-radius: 5px;
}
.btn{
    
    width: 86px;
    height: 68px;
    margin-left: 8px;
    margin-top: 37px;
    border-radius: 75px;
    background: #ff5722;
    border:0px;
    font-size: 24px
}
#Amal{
    width: 100%;
    height: 2px;
    margin: 0;
    margin-top: 10px;

}
#heading{
    margin-left: 445px;
    font-family: ui-sans-serif;
    color: orange;
}
.follow{
    margin-left:86px;
    border: none;
    border-radius: 19px;
    background: lightseagreen;
}
